.menu {
    max-width: 1200px;
    margin: auto;
}
.menu_logo {
    font-size: 2.5rem;
    width: 50%;
}

.menu_items li a {
    font-size: 1.6rem;
}

/* Footer */
.footer_container {
    max-width: 1200px;
    margin: 0 auto;
}