.menu_logo {
    font-size: 1.8rem;
    width: 100%;
}

.menu_items {
    display: flex;
    position: static;
    flex-direction: row;
    height: 65px;
    background: none;    
    justify-content: center;
    align-items: center;
}

.menu_items li {
    margin: 0 10px;
    border-radius: 3px;
}

.menu_items li a {
    display: block;
    padding: 7px 13px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px 5px 5px 5px;
}

/* Quitamos el hover del Li visible de mejor manera 
para el dispositivo mayor a celular y solo se agrega
a la etiqueta 'a' */
.menu_items li:hover {
    background: none;
}

.menu_items a:hover , a.active {
    background-color: rgba(0, 188, 212, .3);
}

.menu_btn {
    display: none;
}

/* Footer */ 

.footer_container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75px;
}